@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

/*Common Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "sansita","sans-serif";
}

html {
    font-size: 62.5%;
}

/*End of common styles*/
    /*Mouse circle*/
    .mouse-circle
    .mouse-dot{
        border-radius: 50%;
        position: fixed;
        z-index: 500;


    }
    .mouse-circle{
        width: 6rem;
        height: 6rem;
        border: .1rem solid #00FF64;
        border-radius: 50%;
        position: fixed;
        z-index: 500;
        transform: translate(-50%,-50%);
        @keyframes mouseCircleAnim{
            0%{
                width: 6rem
            }
        }
    }
    /*End of MOuse circle*/ 
/*Mouse dot*/
.mouse-dot{
    width: .5rem;
    height: .5rem;
    background-color: deeppink;

}
/*End ofMouse dot*/
/*Page bg*/
.page-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(img/bg.jpg) center no-repeat;
    background-size: cover;
}
/*End ofPage bg*/